:root[b-us596019u2] {
    --primary-font: #2d6db6;
    --common-font: #484343;
    --bg-color: #f8f8f8;
}

body[b-us596019u2] {
    background: transparent;
}

html[b-us596019u2], .content[b-us596019u2], .wrapper[b-us596019u2] {
    background: transparent;
}

.box[b-us596019u2] {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 7px 0px rgb(233, 233, 233);
    margin-top: 20px;
    padding: 15px;
}

.post-body[b-us596019u2] {
    position: relative;
}

.post__header[b-us596019u2] {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items:center;
    width: 100%;
}

.post__header a[b-us596019u2] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.post__header img[b-us596019u2]{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;

}

.carousel.post[b-us596019u2] {
    height: 350px;
    width: 100% !important;
}

.post__name[b-us596019u2] {
    
    width: 100%;
    
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 15px;
    text-align: center;
    font-weight: 450;

}

.post__contents[b-us596019u2] {
    border-radius: 7px;
    padding: 10px 50px 20px;
    background-color: #fff;
}

.post__contents p[b-us596019u2] {
    font-family: 'Calibri', sans-serif;
    margin-bottom: 7px;
    font-size: 20px;
    color: var(--common-font);
    line-height: 1.5em;
    text-align: left;
}

.post-label[b-us596019u2] {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.panel[b-us596019u2] {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%; !important;
    margin-top: 10px;
    height: 40px;
}

.post-author[b-us596019u2] {
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;
    margin-right: 20px;

}
.post-date[b-us596019u2] {
    font-size: 16px;
    line-height: 40px;
    margin-right: 20px;
}
.carousel-inner[b-us596019u2] {
    background-color: #dedede;
    border-radius: 7px;
}