* {
    outline: none;
    border: none;
}


.new-comment {
    
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content-text, .content-add {
   
}
.content-text {
    font-size: 18px;
    line-height: 120%;
    height: 45px;
    min-height: 45px;
    width: 100%;
    
    border-bottom: solid 2px rgb(220, 220, 220);
}

.content-add {
    cursor: default;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    
    width: 40px;
    height: 40px;
    background-color: #2d6db6;
    color: white;
    border-radius: 15px;
    margin-left: 10px;
}

.content-add:hover {
    background-color: #448ce0;
}